/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GENERALI*/
.section{
    width:1000px;
    margin:10px auto;

}

#container {
    display: flex;
    flex-wrap: wrap;
    
}
#container > * {
    color:black;
    width: 150px;
    height:150px;
    border: 2px solid white;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#container > .dario {
    color: white;
    border-color: white;
    background-color: lightcoral;
}
